<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/cloudy-day.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Subhadeep Dhar. It uses data from 
            Positionstack.com and Weatherstack.com.
        </p>
        <img class='portrait' src="img/Screenshot 2023-08-27 at 7.48.21 PM.png" alt="">

    </div>
    {{>footer}}
</body>
</html>